@media (max-width: 1199px) {
    .container {
        width: 992px
    }
    .slide-block {
        &__title {
            font-size: 70px;
        }
    }
    .promo {
        height: 770px;
        &__wrapper {
            width: 100%;
        }
        &__cover {
            grid-template: 1fr 1fr / 1fr;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .blog {
        &__wrapper {
            width: 100%;
            padding: 107px 14px 65px;
        }
        &__items {
            grid-template: repeat(8, minmax(auto, 1fr))/repeat(4, minmax(auto, 1fr));
        }
        &__item {
            width: 100%;
            height: 100%;
        }
        &__img-big img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__arrow-left img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__arrow-right img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .bottom {
        padding: 0px 20px 70px;
        &__wrapper {
            width: 100%;
        }
        &__items {
            grid-template: 1fr / repeat(6, 1fr);
            & a {
                display: block;
                text-align: center;
            }
        }
        &__item-cross {
            display: none;
        }
    }
    .footer {
        &__wrapper {
          padding: 80px 20px 100px;
          width: 100%;  
        }
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .icon-menu {
        display: block;
        position: fixed;
        z-index: 10;
        width: 30px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
        top: 10px;
        right: 10px;
    }
    .icon-menu__line,
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        position: absolute;
        background-color: #fff;
        height: .125rem;
        width: 100%;
        right: 0;
        transition: all .3s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu__line {
        top: calc(50% - .0625rem);
    }
    .menu-open .icon-menu::before {
        top: calc(50% - .0625rem);
        transform: rotate(45deg);
    }
    .menu-open .icon-menu::after {
        bottom: calc(50% - .0625rem);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu__line {
        left: 50%;
        width: 0;
    }
    .menu-bottom__items {
        display: block;
        padding-top: 20px;
        position: fixed;
        height: 100vh;
        width: 50%;
        left: -100%;
        top: 0;
        background-color: rgba(0, 0, 0, .8);
        transition: left .6s;
    }
    .menu-top__promo {
        display: none;
    }
    .menu-top {
        display: block;
        &__items {
            grid-template: 1fr / auto auto auto auto 1fr;
        }
        &__item {
            max-width: 100px;
        }
    }
    .menu-open .menu-bottom  {
        &__items {
            left: 0;
            z-index: 100;
        }
        &__item {
            text-align: center;
            & a {
                color: rgba(255, 255, 255, .8);
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: relative;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1px;
                    width: 80px;
                    background-color: rgba(255, 255, 255, .8);
                }
            }
        }
        &__item:last-of-type a::after {
            display: none;
        }
    }
    .search-input {
        width: 100%;
    }
    .swiper-button {
        display: none;
    }
    .slide-block {
        &__title {
            font-size: 60px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
    .blog {
        &__wrapper {
            padding: 80px 15px 55px;
        }
        &__items {
            margin-top: 70px;
        }
        &__arrow p {
            font-size: 16px;
        }
        &__button {
            margin-top: 60px;
        }
    }
    .bottom {
        padding: 0px 15px 50px;
        &__wrapper {
            margin-top: 60px;
        }
    }
    .footer {
        &__wrapper {
            padding-top: 70px;
        }
        &__menu__block {
            grid-template: 50px 1fr 50px / 1fr;
        }
        &__menu_left__items,
        &__menu_right__items {
            justify-content: center;
            column-gap: 20px;
        }
        &__logo {
            & img {
                display: block;
                margin: 0px auto;
            }
        }
        &__line {
            margin-top: 65px;
        }

    }
}


@media (max-width: 767px) {
    .search-input {
        font-size: 80px;
    }
    .slide-block {
        &__title {
            font-size: 48px;
        }
        &__subtitle {
            font-size: 16px;
        }

        &__button {
            height: 44px;
            width: 150px;
            & button {
                line-height: 40px;
            }
        }
    }
    .promo {
        height: 714px;
        &__cover {
            top: -20px;
            grid-template: 1fr 1fr /  540px;
        }
        &__block {
            & img {
                width: 100%;
            }
        }
        &__item {
            width: 466px;
        }
        &__button {
            margin-top: 20px;
        }
    }
    .blog {
        &__wrapper {
            padding: 70px 15px 50px;
        }
        &__items {
            margin-top: 60px;
        }
        &__arrow p {
            font-size: 14px;
        }
        &__button {
            margin-top: 50px;
        }
        &__arrow {
            padding-top: 35%;
        }
    }
    .bottom {
        &__items {
            grid-template: repeat(2, 1fr) / repeat(3, 1fr);
            row-gap: 10px;
        }
    }
}

@media (max-width: 575px) {
    .menu-top {
        &__item {
            font-size: 9px;
            padding: 0px 5px;
        }
        &__item:last-of-type::after {
            right: -2px;
        }
    }
    .search-input {
        font-size: 65px;
    }
    .menu-open .menu-bottom__items {
        width: 69%;
    }
    .slide-block {
        &__title {
            font-size: 44px;
        }
        &__subtitle {
            font-size: 15px;
        }

        &__button {
            margin-top: 12vh;
            height: 40px;
            width: 140px;
            & button {
                line-height: 36px;
                font-size: 11px;
            }
        }
    }
    .promo {
        height: 592px;
        &__cover {
            grid-template: 1fr 1fr /  450px;
        }
        &__items {
            top: 38px;
        }
        &__item {
            width: 380px;
            height: 205px;
        }
        &__button {
            margin-top: 22px;
            & button {
                font-size: 11px;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__title_left p:nth-child(1) {
            width: 106px;
        }
    }
    .blog {
        &__title {
            font-size: 44px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__items {
            grid-template: inherit;
        }
        &__img-big-second {
            grid-row: 5 / 7;
        }
        &__img-big-fourd {
            grid-row: 13 / 15;
        }
        &__arrow {
            padding-top: 42%;
        }
        &__button {
            width: 150px;
            height: 40px;
            & button {
                line-height: 38px;
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 479px) {
    .menu-top {
        &__item {
            display: none;
        }
        &__item:nth-of-type(3) {
            display: block;
            padding: 0px 15px;
        }
    }
    .search-input {
        font-size: 52px;
    }
    .slide-block__logo {
        margin-top: 18vh;
    }
    .slide-block__title {
        font-size: 40px;
    }
    .slide-block__subtitle {
        font-size: 14px;
    }
    .promo {
        height: 374px;
        &__cover {
            top: -20px;
            grid-template: 1fr 1fr /  290px;
        }
        &__items {
            top: 22px;
        }
        &__item {
            width: 232px;
            height: 134px;
            border: 3px solid #fff;
        }
        &__button {
            margin: 13px 15px 0px 0px;
            font-size: 10px;
        }
        &__title {
            font-size: 25px;
        }
        &__title_left p:nth-child(1) {
            width: 66px;
        }
    }
    .blog {
        &__title {
            font-size: 42px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__items {
            margin-top: 44px;
        }
        &__arrow {
            padding-top: 37%;
            & a {
                width: 26px;
                & img {
                    width: 100%;
                }
            }
        }
        &__button {
            width: 140px;
            height: 36px;
            & button {
                line-height: 34px;
                font-size: 10px;
            }
        }
    }
    .bottom {
        padding-bottom: 46px;
        &__wrapper {
            margin-top: 40px;
        }
        &__items {
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        }
        &__item a img {
            height: 60px;
        }
    }
    .footer {
        &__menu__item {
            & a {
                font-size: 12px;
            }
        }
        &__title {
            font-size: 12px;
        }
    }
}