.top-slider {
    height: 100vh;
}
.slider-wrapper {
    height: 100%;
}
.image-slider {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.image-slider__slide {
    width: 100%;
    height: 100%;
    position: relative;
}
.image-circle_img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-button {
    width: 52px;
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: #fff;
    width: 4px;
    height: 4px;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    opacity: 1;
}
.slide-block {
    position: relative;
    width: 100%;
    height: 100%;
    &__logo {
        margin-top: 21vh;
    }
    &__logo img {
        display: block;
        margin: 0 auto;
        width: 85px;
    }
}
.converse-logo {
    width: 120px;
    height: 85px;
    margin: 21vh auto;
    & img {
        width: 100%;
        
    }
}
.asics-logo {
    width: 110px;
    height: 85px;
    margin: 21vh auto;
    & img {
        width: 100%;
        height: 100%;
    }
}
.nb-logo {
    width: 110px;
    margin: 21vh auto;
    & img {
        width: 100%;
    }
}
.nike-logo {
    padding-top: 8px;
}

