.top-slider {
    height: 100vh;
}
.slider-wrapper {
    height: 100%;
}
.image-slider {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.image-slider__slide {
    width: 100%;
    height: 100%;
    position: relative;
}
.image-circle_img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-button {
    width: 52px;
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
}
.swiper-button-prev {
    left: 0;
}
.swiper-button-next {
    right: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 7vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-bullet {
    background-color: #fff;
    width: 4px;
    height: 4px;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    opacity: 1;
}
.slide-block {
    position: relative;
    width: 100%;
    height: 100%;
    &__logo {
        margin-top: 21vh;
        margin-bottom: 2vh;
    }
    &__logo img {
        display: block;
        margin: 0 auto;
        width: 85px;
    }
    &__line {
        height: 2px;
        width: 80px;
        background-color: $main-color;
        margin: 0 auto ;
    }
    &__title {
        font-size: 80px;
        font-weight: bold;
        margin-top: 13vh;
        letter-spacing: -4px;
        text-align: center;
        color: #fff;
    }
    &__subtitle {
        margin-top: 2vh;
        font-size: 20px;
        letter-spacing: -1px;
        text-align: center;
        color: rgba(255, 255, 255, .88);
    }
    &__button {
        height: 50px;
        width: 170px;
        border: 2px solid #fff;
        margin: 8vh auto 0;
        & button {
            width: 100%;
            line-height: 46px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: -0.3px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: rgba(0, 0, 0, 0)
        }

    }
}
.converse-logo {
    width: 120px;
    height: 85px;
    margin: 21vh auto 3vh;
    & img {
        width: 100%;
        
    }
}
.asics-logo {
    width: 110px;
    height: 85px;
    margin: 21vh auto 0;
    & img {
        width: 100%;
        height: 100%;
    }
}
.nb-logo {
    width: 110px;
    margin: 20vh auto 0;
    & img {
        width: 100%;
    }
}
.nike-logo {
    padding-top: 8px;
}

