@import 'null';
@import 'fonts';
@import 'variables';

*{
    font-family: "Proxima Nova", sans-serif;
}

.container {
    width: 1140px;
    margin: 0px auto;
}
body {
    position: relative;
}

@import 'header';
@import 'slider';